body {
	font-family: 'Roboto', sans-serif;
	/*font-size: 2vh;*/
}
#content {
	position: fixed;
	background-color: #ccc;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-left: calc(100%/3);
}
#vcard {
	position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
  	font-weight: 300;
}
#heading {
	margin-bottom: 2em;
	color: #aa1e22;
	font-weight: 500;
}
#name, #address, #contact {
	margin-bottom: 0.75em;
}

@media screen and (orientation: portrait) {
	body {
		font-size: 2vh;
	}
	
}